@import"../../../../styles/variables";

.dish-order-container {
    padding: 20px 20px 10px;

    .dish-order-header {
        font-size  : 20px;
        font-weight: 600;

        .btn-close-dialog {
            position: absolute;
            right   : 10px;
            top     : 12px;
        }
    }

    .dish-order-body {
        margin-top: 20px;

        .list-dish-order {

            .dish-order-content {
                display        : flex;
                justify-content: space-between;
                align-items    : center;
                border-bottom  : 1px solid #ddd;
                padding        : 10px 0;

                &:first-child {
                    border-top: 1px solid #ddd;
                }

                .dish-order-content-left {
                    display: flex;
                    gap    : 10px;

                    .dish-order-avatar {
                        height       : 70px;
                        width        : 70px;
                        border-radius: 5px;
                    }

                    .dish-order-name-price-country {
                        .dish-order-name {
                            font-weight: 600;
                            font-size  : 18px;
                        }

                        .dish-order-price,
                        .dish-order-country {
                            font-size: 14px;
                            color    : #6e6e6e;
                        }
                    }
                }

                .dish-order-content-right {
                    .btn-remove-dish-order {
                        font-size: 30px;
                        color    : $colorpink;
                        cursor   : pointer;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .dish-order-footer {
        margin-top: 20px;
        text-align: right;

        .btn-confirm {
            background-color: $colorpink;
            color           : white;
            border          : none;
            font-size       : inherit;

            &:hover {
                background-color: $colorpink-hover;
            }
        }
    }
}