@import "../../../../styles/variables";

.account-container {
    .customer-infor {
        .avatar-container {
            position: relative;

            .customer-avatar {
                width           : 70px;
                height          : 70px;
                border-radius   : 50%;
                background-image: url("../../../../assets/images/customer-avatar-default.png");
                filter          : brightness(50%);
            }

            .upload-new-avatar {
                position        : absolute;
                top             : 0;
                width           : 70px;
                height          : 70px;
                border-radius   : 50%;
                background-image: url("../../../../assets/images/camera.svg");
                cursor          : pointer;
            }
        }

        .customer-email-label {
            font-size: 13px;
            color    : #6e6e6e;
        }

        .btn-save {
            background-color: $colorhome;
            color           : white;
            border          : none;
            font-size       : inherit;
            font-weight     : 600;
            border-radius   : 7px;

            &.submit-disable {
                background-color: #CBD4E1;
            }
        }
    }
}