@import "../../../../styles/variables";

.detail-dish-container {
    min-height: 500px;

    .detail-dish-left {
        padding        : 20px;
        display        : flex;
        flex-direction : column;
        justify-content: space-between;

        .detail-dish-left-top {
            .dish-name {
                font-size  : 30px;
                font-weight: 600;
            }

            .dish-description {
                margin-top: 15px;
            }

            .dish-list-photo {
                margin-top: 20px;
                display   : flex;
                gap       : 5px;

                .dish-photo-content {
                    background-image: url("../../../../assets/images/dish-default.jpg");
                    height          : 100px;
                    width           : 100px;
                    border-radius   : 5px;

                    &.see-more-dish-photo {
                        background-image: none;
                        display         : flex;
                        background-color: rgb(224, 187, 187);
                        color           : white;
                        cursor          : pointer;

                        .dish-photo-number {
                            margin   : auto;
                            font-size: 30px;
                        }

                        .dish-photo-text {
                            margin    : auto;
                            text-align: center;
                            font-size : inherit;
                            display   : none;
                        }

                        &:hover {
                            .dish-photo-number {
                                display: none;
                            }

                            .dish-photo-text {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }

        .detail-dish-left-bottom {
            display: flex;
            gap    : 10px;

            .btn-back {
                border-color: $colorpink;
                color       : $colorpink;
                font-size   : inherit;
            }

            .btn-order {
                border          : none;
                color           : white;
                background-color: $colorpink;
                font-size       : inherit;

                &:hover {
                    background-color: $colorpink-hover;
                }
            }
        }
    }
}