@import "../../../../styles/variables";

.menu-content-container {
    .dish-type-title {
        margin-top : 20px;
        font-weight: 600;
        font-size  : 18px;
    }

    .list-dish {
        margin-top    : 10px;
        border        : 1px solid #ddd;
        box-shadow    : 0 1px 2px $color-box-shadow;
        border-radius : 5px;
        padding       : 10px 20px;
        display       : flex;
        flex-direction: column;

        .dish-content {
            padding        : 10px 0;
            border-bottom  : 1px solid #ddd;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            &:last-child {
                border-bottom: none;
            }

            .dish-content-left {
                cursor : pointer;
                display: flex;

                .dish-avatar {
                    height          : 80px;
                    width           : 80px;
                    background-image: url("../../../../assets/images/dish-default.jpg");
                }

                .dish-information {
                    .dish-name {
                        font-size  : 20px;
                        font-weight: 600;
                    }

                    .dish-price,
                    .dish-country {
                        font-size: 15px;
                        color    : #6e6e6e;
                    }
                }

                &:hover {
                    .dish-name {
                        color: $colorhome;
                    }
                }
            }

            .dish-content-right {
                .btn-order {
                    &:hover {
                        color           : white;
                        background-color: $colorpink;
                        border          : none;
                    }
                }
            }
        }
    }
}