/*
 * General styles
 */
body,
html {
  font-family: $fontmain;
  font-size  : $base-size;
  height     : 100vh;
  overflow   : hidden;
}

button {
  text-transform: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

label {
  margin-bottom: 0 !important;
}

//ckeditor
.ck-editor__editable {
  min-height: 250px;
}

//flatpickr
.flatpickr-day {
  &.selected {
    border: none !important;
  }

  &.startRange,
  &.endRange {
    background-color: $colormain !important;
  }
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)) {
  box-shadow: none !important;
}

.flatpickr-calendar {
  margin-top   : 10px !important;
  width        : 349px !important;
  padding-left : calc((349px - 308px) / 2) !important;
  border-radius: 0px !important;
  user-select  : none !important;
}

.flatpickr-current-month {
  .cur-month {
    &:hover {
      background: white !important;
    }
  }
}

.numInputWrapper {
  &:hover {
    background: white !important;

    span {
      display: none;
    }
  }
}

//react-select
.react-select {
  z-index: 19;
}

//react-image-lightbox
.ReactModal__Overlay {
  z-index: 9999 !important;
}