$base-size : 16px;
$fontmain  :'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$colormain        : #7265EB;
$colorhome        : #F8B333;
$colorpink        : #FF6571;
$colorpink-hover  : #f94251;
$box-shadow-color : #3333331a;
$color-hover-mui  : #F7F8FA;

$common-text-color : white;
$common-green      : #00C087;
$common-red        : #d01a1d;
$common-white      : #fff;
$common-orange     : #FFAC42;
$border            : #ccc;
$text-in-light     : #181818;
$bg-menu-color     : #f5f5f5;
$bg-scrollbar      : gray;