$base-size : 16px;
$fontmain  :'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$color-page-background: #f7f8fa;
$colormain            : #7265EB;
$colorhome            : #F8B333;
$colorpink            : #FF6571;
$colorpink-hover      : #f94251;
$colorfooter          : #222933;
$color-box-shadow     : #3333331a;
$color-hover-mui      : #F5F5F5;
$bg-scrollbar         : gray;
$text-in-light        : #181818;
$bg-menu-color        : #f5f5f5;