@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-base-size {
    font-size: $base-size !important;
}

.text-15 {
    font-size: 15px !important;
}

.red-color {
    color: red !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}