@import "../../../styles/common.scss";

.header-container {
    z-index         : 999;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : white;
    height          : 40px;
    position        : -webkit-sticky;
    position        : sticky;
    top             : 0;
    font-size       : $base-size - 1px;

    .languages {
        .welcome {
            margin-right: 15px;
        }

        .language-en {
            margin-right: 15px;
            margin-left : 10px;
            opacity     : 0.5;
            cursor      : pointer;

            &.active {
                opacity: 1;
                color  : #01fc33;
            }
        }

        .language-vi {
            cursor : pointer;
            opacity: 0.5;

            &.active {
                opacity: 1;
                color  : #01fc33;
            }
        }

        .btn-logout {
            color      : white;
            line-height: 40px;
            height     : 40px;
            padding    : 0 10px;

            &:hover {
                background-color: darken($colormain, 5);
            }

            i {
                font-size: $base-size + 1px;
            }
        }
    }
}