@import "../../../styles/variables";

.avatar-label,
.photo-label {
    padding      : 0 10px;
    height       : 40px;
    border       : 1px solid #bbb;
    border-radius: 4px;
    gap          : 10px;
    cursor       : pointer;

    &:hover {
        background-color: $colormain;
        color           : white;
    }

    &.no-effect {
        cursor: default;

        &:hover {
            background-color: white;
        }
    }
}

.avatar-preview-grid {
    position: relative;

    .avatar-preview {
        position        : absolute;
        border-radius   : 4px;
        // float        : right;
        right           : 9px;
        cursor          : pointer;
        border          : 1px solid #bbb;

        &.user,
        &.dish {
            width : 120px;
            height: 120px;
        }

        &.restaurant {
            width : 350px;
            height: 200px;
        }
    }
}

.photo-container {
    height: 170px;

    &.dish {
        height: 90px;
    }

    .photo-label {
        padding: 0 10px;
    }

    .photo-number {
        height          : 40px;
        padding         : 0 10px;
        cursor          : pointer;
        border          : 1px solid #bbb;
        border-radius   : 4px;
        display         : flex;
        background-color: #e8e8e8;

        &:hover {
            .number {
                display: none;
            }

            .text {
                display: block;
            }
        }

        span {
            margin: auto;

            &.text {
                display: none;
            }
        }
    }
}

.ckeditor-container {
    .description-error {
        font-size  : 13px;
        color      : #DB2F2F;
        margin-left: 10px;
    }
}

.material-table {
    margin-top    : 50px;
    padding-bottom: 50px;
}

.table-pagination {
    margin: 10px 0 50px;
    float : right;

    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: $colormain;
    }
}