@import "../../../../styles/variables";

.restaurant-about-container {
    .restaurant-about-about {
        .restaurant-about-about-center {
            margin-top: 20px;

            .restaurant-about-about-center-left {
                display       : flex;
                flex-direction: column;
                gap           : 15px;
            }

            .restaurant-about-about-center-right {
                display       : flex;
                flex-direction: column;
                gap           : 10px;
                border-left   : 1px solid #ddd;
                padding       : 0 30px;

                .restaurant-about-about-center-right-header {
                    color      : $colorpink;
                    font-weight: 600;
                    font-size  : 17px;
                }

                .day-active {
                    color: $colorpink;
                }
            }
        }
    }

    .restaurant-about-menu {
        .restaurant-about-menu-see-more {
            color      : $colorhome;
            text-align : center;
            margin-top : 10px;
            user-select: none;

            span {
                cursor: pointer;

                &:hover {
                    color: #DA7B00;
                }
            }
        }
    }

    .restaurant-about-photo {
        .restaurant-about-photo-list-photo {
            margin-top : 25px;
            display    : flex;
            align-items: center;
            gap        : 15px;

            .photo-content {
                border-radius   : 5px;
                width           : 175px;
                height          : 150px;
                background-image: url("../../../../assets/images/restaurant5.jpg");
            }

            .see-more-photo {
                color      : $colorhome;
                user-select: none;

                span {
                    cursor: pointer;

                    &:hover {
                        color: #DA7B00;
                    }
                }
            }
        }
    }

    .restaurant-about-review {
        .restaurant-about-review-see-more {
            margin-top : 20px;
            color      : $colorhome;
            text-align : center;
            user-select: none;

            span {
                cursor: pointer;

                &:hover {
                    color: #DA7B00;
                }
            }
        }
    }
}