@import "../../../styles/variables";

.email-forgot-password-container {
    min-height: calc(100vh - 75px - 425px);

    .update-password-title {
        font-weight: 600;
        font-size  : 30px;
    }

    .update-password-body {
        position: relative;

        .password-show-hide-icon {
            font-size  : 30px;
            position   : absolute;
            top        : 50%;
            right      : 15px;
            transform  : translateY(-50%);
            user-select: none;
            cursor     : pointer;
        }
    }

    .update-password-button {
        .btn-submit {
            border          : none;
            font-size       : 20px;
            background-color: $colorhome;
            color           : white;
            font-weight     : 600;
            border-radius   : 10px;
        }
    }
}