.confirmation-dialog-container {
    .confirmation-dialog-header {
        font-weight  : 600;
        font-size    : 25px;
        padding      : 10px 20px;
        border-bottom: 1px solid #ddd;
    }

    .confirmation-dialog-body {
        padding: 10px 20px;
    }

    .confirmation-dialog-footer {
        padding   : 10px 20px;
        border-top: 1px solid #ddd;
        gap       : 10px;
    }
}