@import "../../../styles/variables";

.restaurant-container {
    background-color: #f7f8fa;
    min-height      : 100vh;

    .restaurant-nav {
        position: -webkit-sticky;
        position: sticky;
        top     : 75px;
        z-index : 100;

        .restaurant-nav-container {
            background-color: white;
            border-radius   : 0 0 5px 5px;
            border-bottom   : 1px solid #ddd;
            padding         : 10px 20px;
            font-size       : 17px;
            font-weight     : 600;

            .nav-item {
                cursor     : pointer;
                user-select: none;

                &.nav-active {
                    position: relative;
                    color   : $colorhome;

                    hr {
                        position        : absolute;
                        top             : 17px;
                        left            : 0;
                        right           : 0;
                        background-color: $colorhome;
                        height          : 2px;
                    }
                }
            }
        }
    }

    #detail-restaurant-top {
        scroll-margin-top: calc(75px + 45px);
    }

    .restaurant-content {
        background-color: white;
        border-radius   : 5px;
        padding         : 20px;

        .grid-mui-icon {
            display    : flex;
            align-items: center;
            gap        : 10px;
        }

        .restaurant-content-title {
            font-size  : 19px;
            font-weight: 600;
        }

        &.restaurant-general {
            padding      : 15px 20px 5px;
            border-radius: 5px 5px 0 0;
        }

        &.restaurant-schedule {
            position: -webkit-sticky;
            position: sticky;
            top     : calc(75px + 1.5rem);

        }

        &.restaurant-menu,
        &.restaurant-photo,
        &.restaurant-review {
            min-height: calc(100vh - 75px);
        }
    }
}