@import "../../../styles/variables";

.customer-profile-container {
    background-color: $color-page-background;

    .customer-profile-body {
        min-height: calc(100vh - 210px);

        .customer-profile-content {
            background-color: white;
            border-radius   : 5px;
            padding         : 20px;

            .customer-profile-title {
                font-weight: 600;
                font-size  : 18px;
                user-select: none;
            }

            &.customer-nav {
                padding : 30px 0 5px;
                position: -webkit-sticky;
                position: sticky;
                top     : calc(75px + 1.5rem);

                .customer-nav-container {
                    font-weight: 600;

                    .nav-infor {
                        .nav-infor-avatar {
                            height          : 100px;
                            width           : 100px;
                            border-radius   : 50%;
                            margin          : 0 auto;
                            background-image: url("../../../assets/images/customer-avatar-default.png");
                        }

                        .nav-infor-text {
                            margin-top: 10px;
                            text-align: center;
                            font-size : 20px;
                        }
                    }

                    .nav-item {
                        height     : 50px;
                        padding    : 0 20px;
                        border-top : 1px solid #ddd;
                        cursor     : pointer;
                        user-select: none;

                        &.nav-active,
                        &:hover {
                            color      : $colorhome;
                            border-left: 3px solid $colorhome;
                        }
                    }
                }
            }
        }

        #customer-profile-top {
            scroll-margin-top: calc(75px + 45px + 1.5rem);
        }
    }
}